
* {
  font-size: 63.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #F1FAFF; */
    background: rgb(247,232,232);
  background: linear-gradient(300deg, rgba(247,232,232,1) 50%, rgba(54,54,101,1) 50%, rgba(255,252,230,1) 50%);
  
  
  }