
.container {
  
  width: 60%;
  margin: auto;
  text-align: center;
  
}

.masthead {
  font-family: helvetica neue;
  font-size: 3.6rem;
  padding: 15px 5px 0px 5px;
  margin: 7px 15px;
  text-align: left;
}

.header {
  font-family: helvetica neue;
  font-size: 3.3rem;
  padding: 15px 5px 0px 5px;
  margin: 7px 15px;
  text-align: left;
}

.top-stories {
  display: flex;  
  
}

.stories {
  display: flex; 
  
  flex-wrap: wrap;
  margin: 0rem 0rem 3rem 0rem;
}

.card {
  flex: 1 0 50%;
  text-align: left;
  font-family: helvetica neue;
  height: auto;
  border: 0px solid black;
  
  padding: 1.4rem 1.4rem;
  box-shadow: 0px 0px 0px 0.1rem #888888;
  border-radius: .3rem;
  display: inline-block;
  margin: .5rem.5rem;
  position:relative;
  padding: 10px 10px;
  
}

.card:hover {
  background-color: #ebf0f7;
  cursor:pointer;
  
  
}

.main {
  width: 100%;
  border-radius: 0.3rem;
}

p {
  text-align: left;
  color: #444;
  font-size: 1.3rem;
  line-height: 1.3;
  
  padding: 0px 0px 40px 0px;
}



h1 {
  font-size: 1.85rem;
  font-family: 'Nanum Myeongjo', helvetica neue, sans-serif;
  line-height: 1.2;
  font-weight: 800;
  text-align: left;
}

.headline {
  margin: .5rem 0px;
}


a {
  text-decoration: none;
 
}

.category {
  text-align: left;
  background-color: #d9d9d9; 
  border: none;
  color: #808080;
  padding: 0.3rem 0.4rem ;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  margin: .5rem 0.4rem .6rem 0rem;
  cursor:pointer;
  
}

.more {
  text-align: left;
  background-color: #808080;
  border: none;
  color: white;
  padding: 0.3rem 0.4rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 0.3rem; 
  margin: 0px 0px;
}

.more:hover {
  background-color: #d9d9d9;
  border: none;
  color: #808080;
  cursor:pointer;
  
}

.bump {
  background-color: #69d45b; 
  border: none;
  color: white;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 0.3rem; 
  
  position: absolute;
  right: 0;
  bottom: 0; 
  margin: 0.4rem;
}

.full {
  background-color: #69d45b; 
  border: none;
  color: white;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 0.3rem; 
  
  position: absolute;
  right: 0;
  bottom: 0; 
  margin: 1.2rem 1.2rem;
}

.full:hover {

  background-color: lightgreen;
  cursor:pointer;
}



.double-card {
  font-family: helvetica neue;
  
  flex-grow: 1;
  border: 0px solid black;
  width: 33.3%;
  text-align: left;
  padding: 1.4rem 1.4rem;
  box-shadow: 0px 0px 0px 1px #888888;
  border-radius: .3rem;
  display: inline-block;
  margin: 15px 0.5rem;
  position: relative;
  
  
}

.double-card:hover {
  background-color: #ebf0f7;
  cursor:pointer;
  
}

.double-main {
  width: 100%;
  border-radius: 0.3rem;
}
